@* @page
@model ArtCollab.Pages.NewArtistModel
@{
	ViewData["Title"] = "New Artist";
}
<form method="post" enctype="multipart/form-data">

    <span asp-validation-for="ArtistVM.Name" class="text-danger"></span>
    <label>Name</label>
    <input asp-for="ArtistVM.Name" class="form-control" />

    <span asp-validation-for="ArtistVM.Password" class="text-danger"></span>
    <label>Password</label>
    <input asp-for="ArtistVM.Password" class="form-control" />

    <span asp-validation-for="ArtistVM.Email" class="text-danger"></span>
    <label>Email</label>
    <input asp-for="ArtistVM.Email" class="form-control" />


    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
	}
 *@